[
    (
        id: 1,
        name: "Basic Cockpit",
        size: (1, 2),
        part_type: cockpit,
        connector_points: {
            (0, 0): [Down],
        },
        mount_points: [],
    ),
    (
        id: 2,
        name: "Hull Block",
        size: (1, 1),
        part_type: hull,
        connector_points: {
            (0, 0): [Down, Up, Left, Right]
        },
        mount_points: [(0, 0)],
    ),
    (
        id: 3,
        name: "Cargo Hold",
        size: (1, 1),
        part_type: cargo,
        connector_points: {
            (0, 0): [Up, Down]
        },
        mount_points: [],
    ),
    (
        id: 4,
        name: "Engine",
        size: (1, 1),
        part_type: engine,
        connector_points: {
            (0, 0): [Up]
        },
        mount_points: [],
    ),
]
