Parts(
    sprite_sheet: "stock.png",
    parts: [
        (
            id: 5,
            name: "Custom Cockpit",
            size: (1, 2),
            properties: (
              part_type: Cockpit (crew_capacity: 1),
              weight: 1,
            ),
            connector_points: {
                (0, 0): [Down],
            },
            mount_points: [],
            uv: (0, 0, 32, 64),
        ),
    ],
)
